body,
html {
  margin: 0;
}

img {
  width: 100%;
}


.container-xl {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 99%;
}

.container {
  max-width: 800px;
  margin: 50px auto;
}


.c-carousel-layout {
    position: relative;
    overflow: hidden;
    .c-carousel-item {
        position: absolute;
        width: 100%;
    }
}

.c-carousel-item {
    opacity: 0;
}

.--add-opacity {
    transition: opacity .3s ease-in;
}


.c-left-btn,
    .c-right-btn {
        cursor: pointer;
        width: 40px;
        position: absolute;
        top: calc(50% - 35px);
        z-index: 10;
        background: #fcf9f9;
        height: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 17px;
            pointer-events: none;
        }
    }
    .c-left-btn {
        .top-arm,
        .bottom-arm {
            transition: transform 0.2s ease-in-out;
            transform-origin: 5.1px 8px;
        }
        &:hover .top-arm {
            transform: rotate(-12deg);
        }
        &:hover .bottom-arm {
            transform: rotate(12deg);
        }
    }
    .c-right-btn {
        right: 0px;
        .top-arm,
        .bottom-arm {
            transition: transform 0.2s ease-in-out;
            transform-origin: 10.9px 8px;
        }
        &:hover .top-arm {
            transform: rotate(12deg);
        }
        &:hover .bottom-arm {
            transform: rotate(-12deg);
        }
    }
    .carousel-item-count {
        display: flex;
        justify-content: center;
        gap: 8px;
        span {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            display: block;
            background-color: lightgrey;
            transition: background-color .35s;
        }
    }
